INFURA_API_KEY=your_infura_api_key
PRIVATE_KEY=your_private_key
CONTRACT_ADDRESS=0x6013b5f1b078177195e3ED8e5ED50bAa47fc20Cf
RECIPIENT_ADDRESS=recipient_wallet_address
TRANSFER_AMOUNT=200000
ACCOUNT_ADDRESS=wallet_address_to_check_balance
